ClientFormTema2/ClientFormTema2/Connected Services/ServiceReference1/ListaParticipantiConsurs.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetParticipants">
        <s:complexType />
      </s:element>
      <s:element name="GetParticipantsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetParticipantsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertParticipants">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="adress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="facebook" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertParticipantsResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteParticipants">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteParticipantsResponse">
        <s:complexType />
      </s:element>
      <s:element name="EditParticipants">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="adress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="facebook" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditParticipantsResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetParticipantsSoapIn">
    <wsdl:part name="parameters" element="tns:GetParticipants" />
  </wsdl:message>
  <wsdl:message name="GetParticipantsSoapOut">
    <wsdl:part name="parameters" element="tns:GetParticipantsResponse" />
  </wsdl:message>
  <wsdl:message name="InsertParticipantsSoapIn">
    <wsdl:part name="parameters" element="tns:InsertParticipants" />
  </wsdl:message>
  <wsdl:message name="InsertParticipantsSoapOut">
    <wsdl:part name="parameters" element="tns:InsertParticipantsResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteParticipantsSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteParticipants" />
  </wsdl:message>
  <wsdl:message name="DeleteParticipantsSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteParticipantsResponse" />
  </wsdl:message>
  <wsdl:message name="EditParticipantsSoapIn">
    <wsdl:part name="parameters" element="tns:EditParticipants" />
  </wsdl:message>
  <wsdl:message name="EditParticipantsSoapOut">
    <wsdl:part name="parameters" element="tns:EditParticipantsResponse" />
  </wsdl:message>
  <wsdl:portType name="ListaParticipantiConsursSoap">
    <wsdl:operation name="GetParticipants">
      <wsdl:input message="tns:GetParticipantsSoapIn" />
      <wsdl:output message="tns:GetParticipantsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertParticipants">
      <wsdl:input message="tns:InsertParticipantsSoapIn" />
      <wsdl:output message="tns:InsertParticipantsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteParticipants">
      <wsdl:input message="tns:DeleteParticipantsSoapIn" />
      <wsdl:output message="tns:DeleteParticipantsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditParticipants">
      <wsdl:input message="tns:EditParticipantsSoapIn" />
      <wsdl:output message="tns:EditParticipantsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ListaParticipantiConsursSoap" type="tns:ListaParticipantiConsursSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetParticipants">
      <soap:operation soapAction="http://tempuri.org/GetParticipants" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertParticipants">
      <soap:operation soapAction="http://tempuri.org/InsertParticipants" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteParticipants">
      <soap:operation soapAction="http://tempuri.org/DeleteParticipants" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditParticipants">
      <soap:operation soapAction="http://tempuri.org/EditParticipants" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListaParticipantiConsursSoap12" type="tns:ListaParticipantiConsursSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetParticipants">
      <soap12:operation soapAction="http://tempuri.org/GetParticipants" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertParticipants">
      <soap12:operation soapAction="http://tempuri.org/InsertParticipants" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteParticipants">
      <soap12:operation soapAction="http://tempuri.org/DeleteParticipants" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditParticipants">
      <soap12:operation soapAction="http://tempuri.org/EditParticipants" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ListaParticipantiConsurs">
    <wsdl:port name="ListaParticipantiConsursSoap" binding="tns:ListaParticipantiConsursSoap">
      <soap:address location="https://localhost:44370/ListaParticipantiConsurs.asmx" />
    </wsdl:port>
    <wsdl:port name="ListaParticipantiConsursSoap12" binding="tns:ListaParticipantiConsursSoap12">
      <soap12:address location="https://localhost:44370/ListaParticipantiConsurs.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>